table {
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    /* border: 1px solid #ddd; */
    padding: 16px;
}
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7258A9;
    color: white;
}

button {
    border: 1px solid #7258A9;
    border-radius: 4px;
    background-color: #7258A9;
    color: white;
    transition: ease 0.5s;
    padding: 16px;
}

button:hover {
    background-color: white;
    color: #7258A9;
    transition: ease 0.5s;
}